## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,76.80,65,32,13.53,scattered clouds
1,1,Busselton,AU,-33.6500,115.3333,68.04,54,0,3.94,clear sky
2,2,Lompoc,US,34.6391,-120.4579,59.38,68,1,9.22,clear sky
3,3,Alcaniz,ES,41.0500,-0.1333,40.42,87,9,1.90,clear sky
4,4,Albany,US,42.6001,-73.9662,36.52,93,100,4.00,light snow

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you want for your vacation?"))
max_temp = float(input("What is the maximum temperature you want for your vacation?"))

What is the minimum temperature you want for your vacation?60
What is the maximum temperature you want for your vacation?85

In [5]:
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,76.80,65,32,13.53,scattered clouds
1,1,Busselton,AU,-33.6500,115.3333,68.04,54,0,3.94,clear sky
6,6,Bredasdorp,ZA,-34.5322,20.0403,62.28,88,75,8.05,broken clouds
9,9,Carnarvon,AU,-24.8667,113.6333,75.27,50,0,19.57,clear sky
10,10,Santa Cruz,BO,-17.8000,-63.1667,74.66,88,90,2.30,moderate rain
...,...,...,...,...,...,...,...,...,...,...
670,670,Massaguet,TD,12.4755,15.4365,67.69,27,7,12.28,clear sky
674,674,Fatick,SN,14.3581,-16.5858,74.34,60,89,20.92,overcast clouds
675,675,Mount Pleasant,US,32.7941,-79.8626,68.18,95,1,1.99,clear sky
679,679,Bull Savanna,JM,17.8868,-77.5902,74.25,81,48,11.10,scattered clouds
680,680,Milledgeville,US,33.0801,-83.2321,68.77,96,100,5.35,heavy intensity rain

In [6]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Hithadhoo,MV,-0.6000,73.0833,81.32,75,80,4.52,broken clouds
3,3,San Andres,CO,12.5847,-81.7006,80.62,83,75,13.80,broken clouds
8,8,Rikitea,PF,-23.1203,-134.9692,75.78,74,90,18.30,light rain
20,20,Esperance,AU,-33.8667,121.9000,78.64,57,24,18.70,few clouds
22,22,Carnarvon,AU,-24.8667,113.6333,75.27,57,40,18.41,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
655,655,Gigmoto,PH,13.7796,124.3900,81.79,89,100,17.60,overcast clouds
657,657,Nanakuli,US,21.3906,-158.1547,80.55,65,20,6.91,few clouds
658,658,Parambu,BR,-6.2111,-40.6944,79.14,50,94,4.16,overcast clouds
659,659,Bonfim,BR,3.0833,-59.9500,79.02,71,98,8.25,overcast clouds
660,660,Panukulan,PH,14.9333,121.8144,80.76,85,95,22.59,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bluff,NZ,76.80,scattered clouds,-46.6000,168.3333,
1,Busselton,AU,68.04,clear sky,-33.6500,115.3333,
6,Bredasdorp,ZA,62.28,broken clouds,-34.5322,20.0403,
9,Carnarvon,AU,75.27,clear sky,-24.8667,113.6333,
10,Santa Cruz,BO,74.66,moderate rain,-17.8000,-63.1667,
15,Makakilo City,US,82.72,scattered clouds,21.3469,-158.0858,
18,Ribeira Grande,PT,61.02,overcast clouds,38.5167,-28.7000,
19,Kabompo,ZM,63.05,light rain,-13.5927,24.2008,
21,Punta Arenas,CL,60.91,few clouds,-53.1500,-70.9167,
22,New Norfolk,AU,73.92,overcast clouds,-42.7826,147.0587,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bluff,NZ,76.80,scattered clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
1,Busselton,AU,68.04,clear sky,-33.6500,115.3333,Observatory Guest House
6,Bredasdorp,ZA,62.28,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor
9,Carnarvon,AU,75.27,clear sky,-24.8667,113.6333,Hospitality Carnarvon
10,Santa Cruz,BO,74.66,moderate rain,-17.8000,-63.1667,Aviador Hotel Boutique
...,...,...,...,...,...,...,...
668,Imbituba,BR,71.82,overcast clouds,-28.2400,-48.6703,Praia Hotel Imbituba
670,Massaguet,TD,67.69,clear sky,12.4755,15.4365,Alwatane
675,Mount Pleasant,US,68.18,clear sky,32.7941,-79.8626,Best Western Patriots Point
679,Bull Savanna,JM,74.25,scattered clouds,17.8868,-77.5902,Big Red's
680,Milledgeville,US,68.77,heavy intensity rain,33.0801,-83.2321,Hampton Inn Milledgeville

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Current Description</dt>dd>{Current Description}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))